<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BookingDao">
        <insert id="insert" parameterType="booking">
                INSERT INTO BOOKING VALUES (BOOKING_SEQ.NEXTVAL,#{searcher_name},#{searcher_id},#{shop_name},#{booking_date},#{booking_pp},#{booking_msg},#{searcher_phone},#{booking_stat},null,#{review_stat},#{shop_img})
        </insert>
        
        <update id="update" parameterType="booking">
        		UPDATE BOOKING SET REVIEW_STAT='1', REVIEW_NO=#{review_no} WHERE BOOKING_NO=#{booking_no}
        </update> 
        
        <delete id="delete1" parameterType="String">
        </delete>
        
        <select id="select1" parameterType="String" resultType="booking">
        		SELECT * FROM BOOKING WHERE BOOKING_NO=#{booking_no}
        </select>
        
        <select id="selectall" resultType="booking">
                SELECT * FROM BOOKING
        </select>
        
        <select id="bookingselect_shop" parameterType="String" resultType="booking">
                SELECT * FROM BOOKING WHERE SHOP_NAME=#{shop_name}
        </select>
        <select id="bookingget_searcher" parameterType="String" resultType="booking">
                SELECT * FROM BOOKING WHERE SEARCHER_ID=#{searcher_id}
        </select>
        <select id="bookingupdate_reviewstat" parameterType="String">
                UPDATE BOOKING SET REVIEW_STAT='1' WHERE SEARCHER_ID=#{searcher_id}
        </select>
        
        <update id="update_reviewstat2" parameterType="booking">
        		UPDATE BOOKING SET REVIEW_STAT='0', REVIEW_NO=NULL WHERE BOOKING_NO=#{booking_no}
        </update>
        
        <select id="bookingcheck_bookstat" parameterType="String">
                UPDATE BOOKING SET BOOKING_STAT='1' WHERE BOOKING_NO=#{booking_no}
        </select> 
        
</mapper>




