<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ReviewDao">
        
        <insert id="insert" parameterType="review">
                INSERT INTO REVIEW VALUES (REVIEW_SEQ.NEXTVAL, SYSDATE, #{review_contents}, #{review_image1}, #{review_image2}, #{review_image3}, ${booking_no}, #{shop_name}, #{review_name}, #{shop_score})
        </insert>
        
        <update id="update" parameterType="review">
                UPDATE REVIEW SET REVIEW_DATE=SYSDATE, REVIEW_CONTENTS=#{review_contents}, REVIEW_IMAGE1=#{review_image1}, REVIEW_IMAGE2=#{review_image2}, REVIEW_IMAGE3=#{review_image3}, SHOP_SCORE=#{shop_score} WHERE REVIEW_NO=#{review_no}
        </update> 
        
        <delete id="delete1" parameterType="String">
                DELETE FROM REVIEW WHERE REVIEW_NO=#{review_no}
        </delete>
        
        <select id="select1" parameterType="String" resultType="review">
                SELECT * FROM REVIEW WHERE BOOKING_NO=#{booking_no}
        </select>
        
        <select id="selectall" resultType="review">
                SELECT * FROM REVIEW
        </select>
        
         <select id="review_select" parameterType="String" resultType="review">
        SELECT * FROM REVIEW WHERE SHOP_NAME = #{shop_name} ORDER BY REVIEW_DATE DESC
     </select>
        
        
</mapper>